<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Buchbesitz Tirol</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/scripts/tablesorter/css/theme.bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/scripts/tablesorter/css/jquery.tablesorter.pager.css"/><!-- DARIAH-Annotator --><!-- <link rel="stylesheet" type="text/css" href="https://annotation.de.dariah.eu/annotatorjs/annotator.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://annotation.de.dariah.eu/annotatorjs/dariah-annotation.css"/>-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"/><!-- <script type="text/javascript" src="https://annotation.de.dariah.eu/annotatorjs/annotator-full.min.js"/>
        <script type="text/javascript" src="https://annotation.de.dariah.eu/annotatorjs/dariah-annotation.js"/>
        <script>
            DariahAnnotation.setupAnnotator();
            DariahAnnotation.addSidebar();
        </script>--><!-- Piwik -->
        <script type="text/javascript">
             var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
              var u="//clarin.oeaw.ac.at/piwik/";
              _paq.push(['setTrackerUrl', u+'piwik.php']);
              _paq.push(['setSiteId', 19]);
              var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
              g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript>
            <p>
                <img src="//clarin.oeaw.ac.at/piwik/piwik.php?idsite=19" style="border:0;" alt=""/>
            </p>
        </noscript><!-- End Piwik Code -->
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a class="navbar-brand" href="http://digital-archiv.at:8081/exist/apps/buchbesitz-collection/index.html">Privater Buchbesitz in Tirol zwischen 1750 und 1800</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navigation</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="http://digital-archiv.at:8081/exist/apps/buchbesitz-collection/index.html">Home</a>
                            </li>
                            <li>
                                <a href="http://digital-archiv.at:8081/exist/apps/buchbesitz-collection/inhalt">Bestandsübersicht</a>
                            </li>
                            <li>
                                <a href="http://digital-archiv.at:8081/exist/apps/buchbesitz-collection/pages/gesamt.html">alle Inventare</a>
                            </li><!--<li>
                                <a href="http://digital-archiv.at:8081/exist/apps/buchbesitz-collection/pages/buecher.html">Bücher</a>
                            </li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
            <strong>Achtung!</strong>
            <br/>Diese Web-App befindet sich noch ein einem sehr frühen Stadium.<br/>
            Das heißt, es kann sich auch alles wieder ändern.</div>
        <div id="content" class="container"/>
        <div id="footer">
            <div class="container own_textCenterd">
                <p class="text-muted">Das Projekt wird vom <a href="https://www.tirol.gv.at/bildung/wissenschaftsfonds/">Tiroler Wissenschaftsfonds (TWF)</a> finanziell unterstützt.
                    <br/> Alle Inhalte stehen unter der Lizenz<br/>
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/de/">(CC BY-SA 3.0 DE)</a>
                </p>
            </div>
        </div><!--        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"/>-->
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"/>
    </body>
</html>