<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css"/>
        <script type="text/javascript" src="../resources/js/jquery/jquery-2.2.1.min.js"/>
        <script type="text/javascript" src="../resources/js/bootstrap-3.0.3.min.js"/><!--scroll to top start-->
        <link rel="stylesheet" href="../resources/js/scroll-to-top/css/ap-scroll-top.min.css"/>
        <script src="../resources/js/scroll-to-top/js/ap-scroll-top.min.js"/><!--scroll to top end -->
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Main Menu</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="toc.html">Table of Content of transcribed inventories</a>
                            </li>
                            <li>
                                <a href="all-inventories.html">Metadata of all inventories</a>
                            </li>
                            <li>
                                <a href="books.html">All mentioned books</a>
                            </li>
                            <li>
                                <a href="persons.html">Persons</a>
                            </li>
                            <li>
                                <a href="places.html">Places</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="pull-right">
                    <form method="get" action="ft_search.html" class="navbar-form" id="pageform">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchexpr" placeholder="search in all inventories"/>
                            </div>
                            <button type="submit" class="btn btn-primary">search</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div id="content" class="container"/>
        </section>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <a href="https://acdh.oeaw.ac.at/acdh/" class="navlink" target="_blank">
                            <img src="../resources/img/ACDH_kurz_Weiss.png" alt="ACDH" width="30%"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="https://github.com/acdh-oeaw/rita" class="navlink" target="_blank">
                            <img src="../resources/img/GitHub-Mark-Light-64px.png" alt="github" width="17%"/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://exist-db.org/" class="navlink" target="_blank">
                            <img src="../resources/img/existdb.png" alt="eXist-db" width="30%"/>
                        </a>
                    </div>
                </div>
            </div>
            <div id="loadModal"/>
            <script>
            $(document).ready(function(){
            var trigger = $('a[data-type]');
            $(trigger).click(function(){
                var dataType = $( this ).attr('data-type');
                var dataKey = $( this ).attr('data-key');
                var xsl = dataType.replace(".xml", "");
                var baseUrl = "showNoTemplate.html?directory=indices&amp;document="
                var url = baseUrl+dataType+"&amp;stylesheet="+xsl+"&amp;entiyID="+dataKey;
                console.log([baseUrl, dataKey, dataType]);
                console.log(url);
            $('#loadModal').load(url, function(){
            $('#myModal').modal('show');
            });
            });
            });
        </script>
            <script type="text/javascript">
            $(window).load(function(){
            $('#myModal').modal('show');
            });
        </script>
        </footer><!-- scroll-up-bottom -->
        <script type="text/javascript">
               // http://www.jqueryscript.net/animation/jQuery-Plugin-For-Fixed-Positioned-Scroll-To-Top-Button-ap-scroll-top.html
               // Setup plugin with default settings
               $(document).ready(function() {
                   $.apScrollTop({
                       'onInit': function(evt) {
                           console.log('apScrollTop: init');
                       }
                   });
               });
            </script><!-- scroll-up-bottom end -->
    </body>
</html>