<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css"/>
        <script type="text/javascript" src="../resources/js/jquery/jquery-2.2.1.min.js"/>
        <script type="text/javascript" src="../resources/js/bootstrap-3.0.3.min.js"/><!--scroll to top start-->
        <link rel="stylesheet" href="../resources/js/scroll-to-top/css/ap-scroll-top.min.css"/>
        <script src="../resources/js/scroll-to-top/js/ap-scroll-top.min.js"/><!--scroll to top end --><!--  Begin cool-share   -->
        <link rel="stylesheet" href="../resources/js/cool-share/plugin.css"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script type="text/javascript" src="../resources/js/cool-share/plugin.js"/><!--  End of cool-share  --><!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
                window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"index.html","theme":"dark-bottom"};
            </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"/><!-- End Cookie Consent plugin -->
        <script type="text/javascript" src="$app-root/resources/js/custom.js"/><!-- Piwik -->
        <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.rita.acdh.oeaw.ac.at/pages/index.html","*.exist-curation.minerva.arz.oeaw.ac.at/exist/apps/rita/pages/index.html"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.apollo.arz.oeaw.ac.at/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '46']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
        <noscript>
            <p>
                <img src="//piwik.apollo.arz.oeaw.ac.at/piwik.php?idsite=46" style="border:0;" alt=""/>
            </p>
        </noscript><!-- End Piwik Code -->
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Main Menu</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="toc.html">Table of Content of transcribed inventories</a>
                            </li>
                            <li>
                                <a href="all-inventories.html">Metadata of all inventories</a>
                            </li>
                            <li>
                                <a href="books.html">All mentioned books</a>
                            </li>
                            <li>
                                <a href="persons.html">Persons</a>
                            </li>
                            <li>
                                <a href="places.html">Places</a>
                            </li>
                            <li>
                                <a href="imprint.html">Impressum | Imprint</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="pull-right">
                    <form method="get" action="ft_search.html" class="navbar-form" id="pageform">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchexpr" placeholder="search in all inventories" pattern=".{3,}" required="" title="3 characters minimum"/>
                            </div>
                            <button type="submit" class="btn btn-primary">search</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <section class="main-content">
            <div id="content" class="container"/>
            <span class="socialShare"><!-- The share buttons will be inserted here --></span>
        </section>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-2">
                        <a href="https://acdh.oeaw.ac.at/acdh/" class="navlink" target="_blank">
                            <img src="../resources/img/ACDH_kurz_Weiss.png" alt="ACDH" width="100%"/>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://github.com/acdh-oeaw/rita" class="navlink" target="_blank">
                            <img src="../resources/img/GitHub-Mark-Light-64px.png" alt="github" width="50%"/>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://www.uibk.ac.at/index.html.de" class="navlink" target="_blank">
                            <img src="../resources/img/uibk.jpg" alt="uibk" width="40%"/>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://www.fwf.ac.at/" class="navlink" target="_blank">
                            <img src="../resources/img/fwf.jpg" alt="fwf" width="100%"/>
                        </a>
                        <br/>
                        <hr/>
                        <a href="https://www.tirol.gv.at/bildung/wissenschaftsfonds/" class="navlink" target="_blank">
                            <img src="../resources/img/twf.jpg" alt="twf" width="100%"/>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="navlink" target="_blank">
                            <img src="../resources/img/by-sa.png" alt="cc-by-sa" width="100%"/>
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <a href="http://exist-db.org/" class="navlink" target="_blank">
                            <img src="../resources/img/existdb.png" alt="eXist-db" width="100%"/>
                        </a>
                    </div>
                </div>
            </div>
            <div id="loadModal"/>
            <script type="text/javascript">
                $(function (){
                  var options = {
                    twitter: {
                      text: '',
                      via: ''
                    },
                    facebook : true,
                    googlePlus : true
                  };
                $('.socialShare').shareButtons(options);
              });
            </script>
            <script>
            $(document).ready(function(){
            var trigger = $('a[data-type]');
            $(trigger).click(function(){
                var dataType = $( this ).attr('data-type');
                var dataKey = $( this ).attr('data-key');
                var xsl = dataType.replace(".xml", "");
                var baseUrl = "showNoTemplate.html?directory=indices&amp;document="
                var url = baseUrl+dataType+"&amp;stylesheet="+xsl+"&amp;entiyID="+dataKey;
               // console.log([baseUrl, dataKey, dataType]);
               // console.log(url);
            $('#loadModal').load(url, function(){
            $('#myModal').modal('show');
            });
            });
            });
        </script>
            <script type="text/javascript">
            $(window).load(function(){
            $('#myModal').modal('show');
            });
        </script>
        </footer><!-- scroll-up-bottom -->
        <script type="text/javascript">
               // http://www.jqueryscript.net/animation/jQuery-Plugin-For-Fixed-Positioned-Scroll-To-Top-Button-ap-scroll-top.html
               // Setup plugin with default settings
               $(document).ready(function() {
                   $.apScrollTop({
                       'onInit': function(evt) {
                          // console.log('apScrollTop: init');
                       }
                   });
               });
            </script><!-- scroll-up-bottom end -->
    </body>
</html>